
<!-- 设置-->
<div v-show="tab==-2">
  <div class="panel-about">
    <div class="t">审神忙 · Tohken Ranbu Helper</div>
    <ul class="sl">
      <li>
        <div class="desc">当前版本： V0.2.0 (Beta)</div>
        <div class="desc">构建时间： Tue Apr 14 2015 21:49:52 GMT+0800 (China Standard Time)</div>
        <div class="desc">项目仓库：<a href="https://github.com/hitomi/tohken">https://github.com/hitomi/tohken</a></div>
      </li>
    </ul>
  </div>
  <div class="panel-about">
    <div class="t">STAFF</div>
    <ul class="sl">
      <li>
        <div class="act">攻城狮</div>
        <div class="desc">求助攻！求一起战斗！</div>
        <div class="desc"><a href="http://weibo.com/moelynn" target="_blank">@毫无存在感的凌</a></div>
      </li>
      <li>
        <div class="act">攻略组</div>
        <div class="desc">各位测试组成员天天帮忙踩坑跑图拿数据和抓虫OwO，超辛苦的！万分感谢！！没有你们就没法这么快的把新版本坑出来！</div>
        <div class="desc"><a href="http://weibo.com/NKSan" target="_blank">@1tuka</a></div>
        <div class="desc"><a href="http://weibo.com/u/2206048461" target="_blank">@生亦求喂食</a></div>
        <div class="desc"><a href="http://weibo.com/sr34v5" target="_blank">@Rabbit_仙鹤归家w</a></div>
        <div class="desc"><a href="http://weibo.com/moyuchaoren" target="_blank">@茈予-安详地舔舔舔</a></div>
        <div class="desc"><a href="http://weibo.com/koei327" target="_blank">@常暗_PETY亚洲善待山姥切国広组</a></div>
      </li>
      <li>
        <div class="act">感谢</div>
        <div class="desc">刀纹和资料</div>
        <div class="desc"><a href="http://wikiwiki.jp/toulove" target="_blank">Toulove</a></div>
        <div class="desc">帮咱解读了不少百科上的内容（咱日语废）</div>
        <div class="desc"><a href="http://weibo.com/huihuiowo" target="_blank">@幸好我长的帅</a></div>
        <div class="desc">前期测试协助，另外戳过去能看到会动可以戳还会说话的Live2D动态壁纸哦！</div>
        <div class="desc"><a href="http://weibo.com/546246695" target="_blank">@高庄主-蹲等魔界战记5</a></div>
      </li>
    </ul>
  </div>
  <div class="panel-about">
    <div class="t">目前已知BUG</div>
    <ul class="sl">
      <li>
        <div class="act">手入时使用手伝い札时提醒不会消失</div>
        <div class="act">小判数量不会变化</div>
        <div class="act">界面特别窄时字会堆在一起</div>
      </li>
    </ul>
  </div>
  <div class="panel-about">
    <div class="t">更新公告</div>
    <ul class="sl">
      <li>
        <div class="act">v0.2.0 150315</div>
        <div class="desc">* 远征提醒修复</div>
        <div class="desc">+ 手入提醒</div>
        <div class="desc">+ 疲劳演算</div>
        <div class="desc">+ 刀装汇总</div>
        <div class="desc">+ 锻刀和掉落统计</div>
      </li>
      <li>
        <div class="act">v0.1.3 150304</div>
        <div class="desc">* 更完善的修复了提醒失效问题(感谢微博<a href="http://weibo.com/moyuchaoren" target="_blank">@茈予-安详地舔舔舔</a>提供的错误报告截图，感谢<a href="http://weibo.com/koei327" target="_blank">@常暗_PETY亚洲善待山姥切国広组</a>进行测试汇报)</div>
        <div class="desc">追加平均等级和等级总和的显示功能，等级总和在鼠标悬停在平均等级上时会出现(微博<a href="http://weibo.com/NKSan" target="_blank">@1tuka</a>)</div>
      </li>
      <li>
        <div class="act">v0.1.2 150304</div>
        <div class="desc">紧急修复提醒失效问题(微博<a href="http://weibo.com/moyuchaoren" target="_blank">@茈予-安详地舔舔舔</a>)</div>
      </li>
      <li>
        <div class="act">v0.1.1 150304</div>
        <div class="desc">修正了99级时的显示问题(来自贴吧@catofsickle)</div>
        <div class="desc">追加设置页面，可以开启和关闭部分提醒功能</div>
        <div class="desc">增加战斗过程中的爆刀剧透功能，请在设置页面中手工开启(微博<a href="http://weibo.com/60046002" target="_blank">@天見禎芽-目指立派前野厨</a>)</div>
      </li>
    </ul>
  </div>
</div>